/*----------------------------------------------------------------*/
/* Basic setup*/
/*----------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #SSS;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Links */
/*
a:link , a:active{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
}
*/
/*----------------------------------------------------------------*/
/* Reusable components*/
/*----------------------------------------------------------------*/

.row{
    max-width: 1240px;
    margin: 0 auto;
}

section{
    padding: 80px 0px;
}

.box{
    padding: 1%;
}

.section-features .long-copy{
    margin-bottom: 20px;
}

/*----------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------*/

header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))) , url(IMG/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(IMG/hero.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box{
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    color: #FFF;
}

.Logo , .Logo-black{
    height: 100px;
    width: auto;
    float: left;
}
.Logo-black{
    display: none;
     height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
}
/* Main Navi */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 15px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link , 
.main-nav li a:visited{
    color: white;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover , .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    
}

/* Sticky Navi */

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link , 
.sticky .main-nav li a:visited{
    padding: 8px 0;
    color: #555;
}

.sticky .Logo{display: none;}
.sticky .Logo-black{display: block;}


/*----------------------------------------------------------------*/
/* Headings */
/*----------------------------------------------------------------*/

h1 , h2 , h3{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
    
}

h1{
    margin: 0;
    font-size: 240%;
}

h2{
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    font-size: 120%;
    margin-bottom: 15px;
    letter-spacing: 0px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content:  " ";
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
/*----------------------------------------------------------------*/
/* Paragraphs and icons*/
/*----------------------------------------------------------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 20px;
    text-align: center;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /* secrets to align icon and text */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    
}
/*----------------------------------------------------------------*/
/* Buttons */
/*----------------------------------------------------------------*/

.btn:link, .btn:visited, input[type=submit]{
    display: inline-block;
    padding: 5px 30px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e22;
    margin: 10px 10px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.btn-ghost:link, .btn-ghost:visited{
    color: #e67e22;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.btn-ghost:hover{
    color: white;
}
.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active{
    background-color: #cf6d17;
}
.btn-full, input[type=submit]{
    background-color: #e67e22;
    color: white;
}

/*----------------------------------------------------------------*/
/* Meals */
/*----------------------------------------------------------------*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float:left;
    width: 25%;
}
.meal-photos{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.meal-photos img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    opacity: 0.7;
}
.meal-photos img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*----------------------------------------------------------------*/
/* How it works */
/*----------------------------------------------------------------*/

.section-steps{
    background-color: #f4f4f4; 
}

.steps-box{
    margin-top: 30px;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child{
    padding-left: 3%;
}
.app-screen{
    width: 40%;
    height: auto;
}

.work-step{
    margin-bottom: 50px;
}
.work-step:last-of-type{
    margin-bottom: 80px;
}
.work-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 120%;
    margin-right: 3%;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}
/*----------------------------------------------------------------*/
/* Cities */
/*----------------------------------------------------------------*/
.city-image{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    opacity: 1;
    background-color: black;
    margin-bottom: 10px;
}
.city-image:hover{
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
}
.city-feature{
    margin-bottom: 15px;
}

.city-feature a{
    color: #e67e22;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    border-bottom: 1px solid #e67e22;
}
.city-feature a:hover{
    color: #555;
    border-bottom: 1px solid transparent;
}
/*----------------------------------------------------------------*/
/* Testimonials */
/*----------------------------------------------------------------*/
.testimonial{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))),url(IMG/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(IMG/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}
cite{
    font-size: 90%;
    margin-top: 15px;
}
blockquote:before{
    content: "\201C";
    font-size: 300%;
    display: block;
}
blockquote:after{
    content: "\201D";
    font-size: 200%;
}
cite img{
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*----------------------------------------------------------------*/
/* Testimonials */
/*----------------------------------------------------------------*/

.section-class{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: white;
    border-radius: 10%;
    width: 90%;
    margin-left: 5%;
}

.plan-box div{
    padding: 3%;
    border-bottom: 1px solid #e8dfdf;
    text-align: center;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #e67e22;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul li{
    text-align: justify;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}

/*----------------------------------------------------------------*/
/* Form */
/*----------------------------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}
input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{outline: none;}

/*----------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------*/

footer{
    background-color: #333;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li, .social-links li{
    display: inline-block;
    margin: 20px;
}

.footer-nav li:last-child, .social-links li:last-child{
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    
}
.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
    color: #ddd; 
}

footer p{
    color: #777;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.social-links li a:link, .social-links li a:visited{
    font-size: 100%;
}


/*----------------------------------------------------------------*/
/* Animations */
/*----------------------------------------------------------------*/
